@media (max-width:768px) {
header{
    position: relative;
    padding: 10px 20px;
}
header #toggle{
    display: none;
}
header i{
    color: var(--primary-color);
    font-size: 24px;
}
header .wrapper{
    display: flex;
    flex-direction: column;
    background-color:var(--secondary-bg-color);
    border-radius: 8px;
    position: absolute;
    top: 50px;
    right: -100px;
    visibility: hidden;
    opacity: 0;
    gap: 20px;
    padding: 10px;
    transition: 600ms all;
}
header .wrapper .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
header .wrapper .login{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header .wrapper .links a{
    text-align: left;
    margin-left: 0;
    
}
header .wrapper .login a{
    text-align: center;
    margin-left: 0;
}
header #toggle:checked + .wrapper {
    visibility: visible;
    opacity: 1;
    right: 0px;
} 


header{
    padding: 20px 30px; 
}
#hero-section{
    padding: 50px 80px;
}
/* #client-section img{
    width: 100%;
    overflow-x: scroll;
} */
#community-section{
    padding: 0px 80px;
}
#unseen-pixelgrade-section{
    padding: 0px 80px;
    margin-top: 70px;
}
/* #unseen-pixelgrade-section .btn{
    margin-left: 250px
} */
#design1-section{
    padding: 0px 80px;
}
/* #design1-section .btn{
    margin-left: 250px;
} */
#design2-section{
    padding: 0px 80px;
}
#design2-section img{
    width: 70%;
    margin-left: 60px;
}
footer .about{
    display: flex;
    /* flex-direction: row; */
    justify-content: start;
}
}